<table class="table">
	<th>
		<tr>
			<td>Date</td>
			<td>Customer</td>
			<td>Address</td>
			<td>City</td>
			<td>St</td>
			<td>Phone1</td>
			<td>Email1</td>
			<td>WorkOrderType</td>
			<td>DurationEst</td>
			<td>Complaint</td>
			<td>InventoryReq</td>
		</tr>
	</th>
		<% @service_calls.each do |sc| %>
	<tr>
		<td><%= sc.scheduled_service_call_date %></td>
		<td><%= link_to sc.customer.full_name1, customer_path(sc.customer) %></td>
		<td><%= sc.customer.address %></td>
		<td><%= sc.customer.city %></td>
		<td><%= sc.customer.state %></td>
		<td><%= sc.customer.phone1 %></td>
		<td><%= sc.customer.email1 %></td>
		<td><%= sc.work_order.work_order_type %></td>
		<td><%= sc.work_order.duration_est %></td>
		<td><%= sc.work_order.customer_complaint %></td>
		<td><%= sc.work_order.inventory_req %></td>
		<% end %>
	</tr>
</table>
