<h3>Individual SKU page</h3>
<h3><%= @inventory.name %> : <%= @inventory.sku %> </h3>

<table class="table">
	<th>
		<tr>
			<td>SKU</td>
			<td>Name</td>
			<td>Mfg</td>
			<td>PartType</td>
			<td>Model</td>
			<td>Size</td>
			<td>Color</td>
			<td>Category</td>
			<td>SubCategory</td>
			<td>Qty</td>
			<td>Location</td>
		</tr>
	</th>
	<tr>
		<td><%= @inventory.sku %></td>
		<td><%= @inventory.name %></td>
		<td><%= @inventory.mfg %></td>
		<td><%= @inventory.part_type %></td>
		<td><%= @inventory.model %></td>
		<td><%= @inventory.size %></td>
		<td><%= @inventory.color %></td>
		<td><%= @inventory.category %></td>
		<td><%= @inventory.sub_category %></td>
		<td><%= @inventory.qty %></td>
		<td><%= @inventory.location %></td>
	</tr>
</table>
