<h3><%= @employee.full_name %></h3>

<table class="table">
	<th>
		<tr>
			<td>ID</td>
			<td>Full Name</td>
			<td>Phone</td>
			<td>Email</td>
			<td>Title</td>
		</tr>
	</th>
	<tr>
		<td><%= @employee.id %></td>
		<td><%= @employee.full_name %></td>
		<td><%= @employee.phone %></td>
		<td><%= @employee.email %></td>
		<td><%= @employee.title %></td>
	</tr>
</table>