<h3>Individual Employee</h3>

<table class="table">
	<th>
		<tr>
			<td>ID</td>
			<td>Date</td>
			<td>Customer</td>
			<td>Pool</td>
			<td>WorkOrderType</td>
			<td>DurationEst</td>
			<td>Complaint</td>
			<td>InventoryRequired</td>
		</tr>
	</th>
	<tr>
		<td><%= @employee.id %></td>
		<td><%= @employee.full_name %></td>
		<td><%= @employee.phone %></td>
		<td><%= @employee.email %></td>
		<td><%= @employee.title %></td>
	</tr>
</table>