<h3>All Trucks</h3>

<table class="table">
	<th>
		<tr>
			<td>Name</td>
			<td>Make</td>
			<td>Model</td>
			<td>Year</td>
			<td>Equipment</td>
		</tr>
	</th>
		<% @trucks.each do |truck| %>
	<tr>
		<td><%= link_to truck.id, truck_path(truck) %></td>
		<td><%= truck.name %></td>
		<td><%= truck.make %></td>
		<td><%= truck.model %></td>
		<td><%= truck.year %></td>
		<% end %>
	</tr>
</table>