<h3>All Customers</h3>

<table class="table">
	<th>
		<tr>
			<td>Name</td>
			<td>Address</td>
			<td>City</td>
			<td>St</td>
			<td>Zip</td>
			<td>Lat</td>
			<td>Long</td>
			<td>Phone1</td>
			<td>Phone2</td>
			<td>Email1</td>
			<td>Email2</td>
		</tr>
	</th>
		<% @customers.each do |customer| %>
	<tr>
		<td><%= link_to customer.full_name1, customer_path(customer) %></td>
		<td><%= customer.address %></td>
		<td><%= customer.city %></td>
		<td><%= customer.state %></td>
		<td><%= customer.zip %></td>
		<td><%= customer.latitude %></td>
		<td><%= customer.longitude %></td>
		<td><%= customer.phone1 %></td>
		<td><%= customer.phone2 %></td>
		<td><%= customer.email1 %></td>
		<td><%= customer.email2 %></td>
		<% end %>
	</tr>
</table>
