<%= link_to "to All Customers", customers_path %><h3>Customer: <%= @customer.full_name1 %></h3>

<table class="table">
	<th>
		<tr>
			<td>Name</td>
			<td>FullStreetAddress</td>
			<td>GEO</td>
			<td>Phone1</td>
			<td>Phone2</td>
			<td>Email1</td>
			<td>Email2</td>
			<td>About</td>
			<td>ServiceHistory</td>
		</tr>
	</th>
	</tr>
		<td><%= link_to @customer.full_name1, customer_path(@customer) %></td>
		<td><%= @customer.full_street_address %></td>
		<td id='geo_map'><%= @customer.latitude %>,<%= @customer.longitude %></td>
		<td><%= @customer.phone1 %></td>
		<td><%= @customer.phone2 %></td>
		<td><%= @customer.email1 %></td>
		<td><%= @customer.email2 %></td>
		<td><%= @customer.about %></td>
		<td><%= @customer.history %></td>
	</tr>
</table>
<h3>Service History:</h3>
<%= render partial: 'customers/service_calls', locals: { service_calls: @customer.service_calls } %>
<%= render partial: 'customers/geomap' %>

