<!DOCTYPE html>
<html>
  <head>
    <title>SpcV1</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div style="margin: 2%">
    <%= image_tag('http://res.cloudinary.com/smithwebtek/image/upload/c_scale,w_708/v1492730739/spc-v1/spc-background.png', style: "height: 10%; width: 100%") %>
      <div class="nav-bar">

        <h3>
        <%= link_to "home", root_path %> |
        <%= link_to "customers", customers_path %> |
        <%= link_to "pools", pools_path %> |
        <%= link_to "trucks", trucks_path %> |
        <%= link_to "employees", employees_path %> |
        <%= link_to "service calls", service_calls_path %> |
        <%= link_to "inventories", inventories_path %>
        <hr>
        </h3>
      <div class="row-fluid">
        <%= yield %>
      </div>
        
      </div>
    </div>
    <div class="flash-style">
      <p><%= notice %><%= alert %></p>
    </div>
  </div>
  </body>
</html>
